<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - EduConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{url_for('static',  filename='images/educonnect.png')}}" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/educonnect.png') }}" alt="EduConnect Logo">
        </div>
        <h1>Bem-vindo ao EduConnect</h1>
        <form action="register" method="POST">
            {{ form.hidden_tag() }}
            <div class="error-message" class="hide">{{ error_message }}</div> <!-- Mensagem de erro -->
            <div class="form-group">
                <label for="username">Usuário</label>
                {{ form.name(class='form-control', id='username', placeholder="Digite seu nome") }}
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                {{ form.password(class="form-control", id="password", placeholder="Digite sua senha") }}
                <div id="password-requirements" class="requirements">
                    <ul>
                        <li id="min-length">Pelo menos 8 caracteres</li>
                        <li id="uppercase">Pelo menos uma letra maiúscula</li>
                        <li id="lowercase">Pelo menos uma letra minúscula</li>
                        <li id="number">Pelo menos um número</li>
                        <li id="special">Pelo menos um caractere especial (ex: !@#$%^&*)</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="repeat-password">Digite novamente a senha</label>
                {{ form.repeat_password(class="form-control", id="repeat-password", placeholder="Digite sua senha novamente") }}
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                {{ form.email(class="form-control", id="email", placeholder="Digite seu email") }}
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
    <script>
        window.onload = function () {
            error_message = document.querySelector('.error-message')
            if (error_message.textContent === 'None'){
                error_message.classList.add('hide')
            }
            else{
                error_message.classList.remove('hide')
                error_message.classList.add('show')
    
                setInterval(function(){
                    error_message.classList.remove('show')
                    error_message.classList.add('hide')
                }, 5000)
            }
            
        }
    </script>
</body>
</html>
